body {
  font-family: "Gelasio", serif;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  color: rgb(68, 67, 67);
  font-size: 14px;
  font-weight: 100;
  line-height: 19px;
}

#current-city {
  text-align: center;
}
#current-temperature {
  font-size: 28px;
  line-height: 1;
  font-weight: 400;
}
#current-weather-icon {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

#page-title {
  text-align: center;
}
#footer {
  text-align: center;
}
#search-form {
  margin: 50px 0;
}

#celsius-link,
#fahrenheit-link {
  text-decoration: none;
  cursor: default;
}

.units {
  position: relative;
  font-size: 12px;
  top: -8px;
}
.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}
.weather-info {
  margin-bottom: 50px;
}
.weather-app {
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 50px auto;
}

.weather-forecast {
  margin-top: 10px;
}

.weather-forecast h3 {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
}
